VisualizationSystem/Web References/WebReference4/regions0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.103/WCF/regions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataRepository.Models" />
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataRepository.Models" minOccurs="0" name="lang" type="q1:Language" />
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataRepository.Models" minOccurs="0" name="GetRegionsResult" nillable="true" type="q2:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>